body{
    background-color: rgb(150, 213, 233);
    display: flex;
    justify-content: center;
    padding:20px;
    margin: 0;
}
.container{
    display: flex;
    border: 3px solid;
    border-radius: 2px;
    border-color: rgb(114, 59, 45);
    padding: 20px;
    background-color: white;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    flex-grow:1;
    align-content: center;
}
.header{
    background-color: rgb(114, 59, 45);
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: bold;
    color:rgb(238, 175, 58);
    padding: 10px 20px;
    display: flex;
    flex: 1 1 auto;
    text-align: center;
}
.menu-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 230);
    border: 1px solid;
    border-radius: 2px;
    border-color: rgb(195, 153, 141);
    font-family: Georgia, serif;
    padding: 30px 10px; 
    flex: 1 1 auto;
}
.item-number {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}
.item-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 10px 0;
}
.item-description {
    font-size: 16px;
    flex-grow: 1;
}
.item-price {
    background-color: rgb(238, 175, 58);
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 7px 0;
    margin-top: 5px;
    border-radius: 2px;
    flex-shrink: 0;
}
